body {
  margin: 0;
  padding: 0;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  background: #a8a7ac;
  padding-top: 80px; /* Ajusta esto al tamaño de tu header */
  align-items: center;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(90deg, #4e6b8f, #b9d1f0); /* Fondo degradado atractivo */
  
box-shadow: 0 4px 6px rgba(245, 15, 53, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%; /* Ajusta según necesidad */
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8; /* Asegura que el header esté por encima del resto */
  box-sizing: border-box;
  margin-bottom: 100px; /* Ajusta este valor según sea necesario */
}

/* Contenido del header */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;

  padding: 10px;
  box-sizing: border-box;
}


.menu-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px; /* Aumenta el espacio entre los elementos */
  margin-top: 20px; /* Ajusta la distancia superior */
  padding: 20px 40px; /* Añade espaciado interno */
  background: linear-gradient(90deg, #4e6b8f, #b9d1f0); /* Fondo degradado atractivo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más suave */
}

.menu-fixed ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacio más amplio entre los elementos */
  margin: 0;
  padding: 0;
}

.menu-fixed ul li {
  position: relative; /* Necesario para el menú dropdown */
}

.menu-fixed ul li a {
  text-decoration: none;
  color: #c082d3;
  padding: 10px 15px; /* Espaciado interno para los enlaces */
  border-radius: 5px; /* Bordes redondeados en los enlaces */
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.menu-fixed ul li a:hover {
  background: #ffffff; /* Fondo blanco al pasar el mouse */
  color: #4e6b8f; /* Cambia el color del texto */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  font-size: 1.4em; /* Aumenta el tamaño del texto */
  transition: all 0.3s ease; /* Añade una transición suave para el cambio de tamaño */

}
.menu-fixed ul li ul li a:hover {
  background: #b9d1f0; /* Fondo al pasar el mouse en el dropdown */
  color: #ffffff; /* Cambia el color del texto */
 }

/* Opcional: Estilo para el menú dropdown */
.menu-fixed ul li ul {
  display: none; /* Oculta el menú dropdown por defecto */
  position: absolute; /* Posiciona el menú dropdown en relación al elemento padre */
  top: 100%; /* Coloca el menú justo debajo */
  left: 0;
  background: rgba(255, 255, 255, 0.95); /* Fondo semi-transparente para el dropdown */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10; /* Asegura que esté encima de otros elementos */
}

.menu-fixed ul li:hover ul {
  display: block; /* Muestra el menú dropdown al pasar el mouse */
}

.menu-fixed ul li ul li a {
  color: #4e6b8f; /* Cambia el color del texto en el dropdown */
  padding: 10px 15px; /* Espaciado interno para los enlaces del dropdown */
}


.menu-hamburguesa {
  display: flex; /* Inicialmente oculto en pantallas grandes */
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px; /* Ajusta la altura según necesites */
  width: 30px; /* Ajusta el ancho según necesites */
  position: absolute;
  top: 30px; /* Colócalo en el medio verticalmente */
  transform: translateY(-300%); /* Centrado verticalmente */
  left: 0;
  z-index: 200;
}

.menu-hamburguesa .line {
  width: 100%;
  height: 3px;
  background-color: #f5f0f0; /* Color de las líneas */
  margin: 2px 0; /* Espacio entre las líneas */
  transition: background-color 0.3s ease; /* Transición de color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* Asegurar que las líneas sean visibles cuando el menú hamburguesa está activo */
.menu-hamburguesa.active .line {
  background-color: #f5f2f2; /* Cambio de color al activar */
}
.dropdown-menu {
  display: none !important;
  transform: translateX(-100%); /* Centrado verticalmente */
 top: 100%;
  flex-direction: column;
  position: absolute;
  background-color: #2c3e50; /* Color de fondo oscuro */
  border-radius: 8px; /* Bordes redondeados */
  max-height: 400px;
  overflow-y: auto;
  z-index: 100;
  width: 400px; /* Ancho ajustado */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  padding: 0; /* Sin padding en el contenedor */
}

.dropdown-menu li {
  margin: 0; /* Sin margen */
}

.dropdown-menu a {
  display: block;
  padding: 15px; /* Espaciado interno */
  text-decoration: none;
  color: #ecf0f1; /* Color del texto claro */
  transition: background 0.3s ease; /* Transición suave */
  border-radius: 8px; /* Bordes redondeados en los enlaces */
}

.dropdown-menu a:hover {
  background: #34495e; /* Color de fondo al pasar el ratón */
  text-shadow: none; /* Eliminar sombra al hacer hover */
}

/* Mostrar el menú desplegable cuando está activo */
.dropdown-menu.active {
  display: block !important;
}

/* Estilo para el navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #370d3e;
  color: #fff;
}

/* Iconos a la izquierda */
.navbar-icons {
  display: flex;
  gap: 15px;
}

.arrow-link {

  text-decoration: none;
  color: #fff; /* Color del texto */
  font-size: 18px; /* Tamaño del texto */
  padding: 10px 20px;
  background-color: #2980b9; /* Color de fondo del botón */
  border-radius: 5px; /* Bordes redondeados */
  transition: background 0.3s ease;
}

    

.intro-text h6 {
  background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 50%, #d4fc79 100%);
  padding: 40px;
  margin-top: 30px; /* Separa el contenido del párrafo del header */
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
  word-wrap: break-word;

  max-width: 100%;
  text-align: center;

  font-size: 16px;
  z-index: 2; /* Asegura que el párrafo esté por encima de otros elementos */
  position: relative; /* Evita solapamientos del header */
}

  /* Estilos para la sección del video */
  .video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el video vertical y horizontalmente */
    overflow: hidden; /* Evita que se desborde cualquier contenido */
  }

  /* Fondo animado con gradiente */
  .video-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(42, 51, 50, 0.7), rgba(32, 75, 73, 0.7)); /* Gradiente sutil */
    animation: gradientAnimation 5s ease infinite; /* Animación suave para el gradiente */
    z-index: 0; /* Coloca el gradiente detrás del video */
  }

  /* Animación del gradiente */
  @keyframes gradientAnimation {
    0% {
      background: linear-gradient(45deg, rgba(85, 82, 90, 0.7), rgba(45, 69, 77, 0.7));
    }
    50% {
      background: linear-gradient(45deg, rgba(54, 68, 71, 0.7), rgba(78, 104, 134, 0.7));
    }
    100% {
      background: linear-gradient(45deg, rgba(70, 74, 105, 0.7), rgba(76, 144, 201, 0.7));
    }
  }

  /* Estilos del video */
  .background-video {
    position: relative;
    width: 70%;  /* Ajusta el video al 70% del ancho */
    max-height: 80%; /* Limita la altura a un máximo del 80% */
    object-fit: contain; /* El video se ajusta sin distorsionar */
    z-index: 1; /* El video está delante del fondo */
  }

  /* Estilos del overlay */
  .video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; /* El texto está sobre el video */
  }

  .video-overlay h1 {
    font-size: 3em; /* Ajusta el tamaño del título */
    margin-bottom: 20px;
  }

  .video-overlay p {
    font-size: 1.5em; /* Ajusta el tamaño del párrafo */
  }

  /* Media queries para pantallas grandes */
  @media (min-width: 1024px) {
    .video-overlay h1 {
      font-size: 4em; /* Ajusta el tamaño del título para pantallas grandes */
    }}

    @media (max-width: 768px) {
      .video-section {
        height: 100vh; /* Mantiene la altura de la sección igual que la ventana */
        background: linear-gradient(45deg, rgba(42, 51, 50, 0.7), rgba(32, 75, 73, 0.7)); /* Se asegura que el fondo cubra todo el área */
      }
    
      .background-video {
        width: 90%;  /* Aumenta el tamaño del video en pantallas pequeñas */
        max-height: 60%; /* Limita la altura del video en móviles */
      }
    
      .video-overlay h1 {
        font-size: 2.5em; /* Reduce el tamaño del título en móviles */
      }
    
      .video-overlay p {
        font-size: 1.2em; /* Reduce el tamaño del párrafo en móviles */
      }
    
      .video-section::before {
        height: 100%; /* El gradiente se extiende todo el fondo */
      }
    }  

    .carousel {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 500px; /* Mantén la altura fija del carrusel para que las imágenes no se encojan */
      margin: 20px auto;
      border: 2px solid #0a0909;
      border-radius: 10px;
      background-color: rgb(45, 39, 70);
    }

    .carousel .slide {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; /* Ocultar todas las diapositivas */
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    
    .carousel .slide.active {
      display: flex; /* Mostrar solo la diapositiva activa */
    }
    .carousel img {
      width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
      height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
      object-fit: contain; /* Mantiene las proporciones de la imagen y la recorta si es necesario */
      object-position: center; /* Centra la imagen dentro del contenedor */
    }
    
    
    .caption {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      z-index: 2; /* Asegura que la descripción esté por encima de la imagen */
    }
    
    .buttons {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 2; /* Los botones estarán por encima de la imagen */
    }
    
    .buttons button {
      background-color: #332b53;
      color: #f1eff3;
      font-weight: bold;
      border: none;
      padding: 10px;
      cursor: pointer;
      outline: none;
      transition: background-color 0.3s, transform 0.3s;
    }
    
    .buttons button:hover {
      animation: blink 1s infinite;
    }
    
    .buttons button:active {
      background-color: #007bff;
      color: #fff;
    }
    
.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto 100px; /* Agrega un margen inferior de 100px */
}

/* Estilo del cartel ON AIR */
.on-air-sign {
  margin-bottom: 0;
  margin-top: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black; /* Borde fino y negro */
  position: relative;
  border-top: 10px; /* Ajusta según lo alto que quieras colocarlo */
   background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Sombra para el borde */
  animation: blink 1s infinite; /* Animación de parpadeo */
  z-index: 6;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Estilo del cubo */
.video-cube {
  
  margin-top: 50px;
  margin-left: 100px; /* Aumenta el valor para mover el cubo más a la derecha */
  margin-right: 100px;
  margin-bottom: 100px;
  height: 157px;
  width: 157px;
  position: relative;
  z-index: 2;
}

/* Contenedor del cubo */
.cube-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilo del cubo y su animación */
.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer; /* Hace que el cursor se transforme en una mano */
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  animation: rotate 15s infinite linear;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8); /* Sombra fuerte */
  z-index: 2;
}

/* Estilo de las caras del cubo */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
}

/* Posicionamiento de las caras del cubo */
.face.front {
  transform: translateZ(75px);
}
.face.back {
  transform: rotateY(180deg) translateZ(75px);
}
.face.left {
  transform: rotateY(-90deg) translateZ(75px);
}
.face.right {
  transform: rotateY(90deg) translateZ(75px);
}
.face.top {
  transform: rotateX(90deg) translateZ(75px);
}
.face.bottom {
  transform: rotateX(-90deg) translateZ(75px);
}
/* Animación de rotación del cubo */
@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

  
.container {
  background-image: url("./img/radio1.jpeg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
  height: 50vh; /* Altura de la vista completa */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title p {
  font-size: 8cap;
  font-weight: bold;
  margin-bottom: 1cm;
  color: #000;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.youtube-container {
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  flex-direction: flex-start;
  margin-left: 40px;
}
/* Estilo de los íconos de las apps */
.youtube-icon {
  color: #ee0e0e; /* Asegura que el color del texto sea rojo */
  font-size: 25px; /* Tamaño del ícono de YouTube */
  width: 120px; /* Tamaño del círculo */
  height: 120px; /* Tamaño del círculo */
  background: #f0ebeb; /* Fondo claro del círculo */
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.6); /* Sombra */
  border-radius: 50%; /* Hace el círculo redondo */
  text-align: center;
  line-height: 120px; /* Centra el texto verticalmente */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido dentro del círculo */
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-top: 50px;
}

.youtube-icon i {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  font-size: 24px; /* Ajusta el tamaño del ícono de YouTube */
}

.youtube-icon a {
  color: #ee0e0e; /* Asegura que el texto del enlace sea rojo */
  text-decoration: none; /* Elimina el subrayado del texto del enlace */
  display: flex;
  align-items: center; /* Alinea el ícono y el texto verticalmente */
}

.youtube-icon:hover {
  transform: scale(1.1); /* Agranda el círculo al pasar el mouse */
  box-shadow: 0 8px 30px rgba(255, 0, 0, 0.8); /* Aumenta la sombra en el hover */
}
.h5 {
  font-family: "Trebuchet MS";
  font-size: 14px;
  color: #fff;
  text-shadow: 10px 10px 18px rgb(12, 11, 12);
  animation: fadeInOut 4s infinite;
}

.app-icon {
  margin-top: 0px;
  margin-right: 40px; /* Ajusta el margen según el ícono */
  position: relative;
  background: #a8a7ac; /* Fondo azul para el ícono de las apps */
}

.app-container {
  /* Centra verticalmente en la ventana */
  flex: 1;
  margin-right: 40px;
  display: flex; /* Establece el contenedor como flex */
  flex-direction: column;
  align-items: flex-end; /* Centra los elementos horizontalmente */
  gap: 10px; /* Espacio entre las aplicaciones */
  margin-bottom: 20px;
}

/* Estilo de cada aplicación */

.app {
  background-color: #a8a7ac;
  border: 2px solid #000; /* Marco más ancho */
  padding: 12px; /* Ajusta el espacio interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto; /* Ajusta la altura automática según el contenido */
  width: auto; /* Ajusta el ancho automático según el contenido */
  animation: blink 3s infinite;
  margin-bottom: 10px;
}
/* Asegúrate de que las imágenes no superen el contenedor */
.app img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Asegura que los íconos estén en línea */
  margin: 5px auto; /* Centra los íconos horizontalmente */
}

h4 {
  font-family: "Trebuchet MS";
}
/* Animación de fade in y fade out */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Estilo para la leyenda de "Bajar app" */
.fade-text {
  font-size: 24px;
  color: #fff;
  text-align: center;
  animation: fadeInOut 4s infinite;
  margin-bottom: 10px; /* Espacio entre la leyenda y las imágenes */
}
.hero {
  width: 100%; /* Ocupa el 100% del ancho */
  height: 50vh; /* Altura reducida del hero */
  background-color: #262658; /* Fondo para visibilidad */
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin-top: 0; /* Agrega un margen superior si es necesario para separarlo del reproductor */
  z-index: 1;
}

.hero-content {
  margin-top: 0;
  display: flex;
  flex-direction: column; /* Cambia a columna si deseas que se alineen verticalmente */
  background: linear-gradient(90deg, #90cbdb, #8e93d6, #2831a7, #072d6b);
  max-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  gap: 20px; /* Ajusta el espacio entre los elementos */
}
/* Estilo para el párrafo debajo del hero */
.radio-intro {
  width: 100%;
  text-align: center;
  background-color: #413d3d;
  color: #fff;
  padding: 10px 0;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  text-shadow: 10px 10px 18px rgb(156, 138, 189);
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 1;
  }
}

.hero h1,
.prefooter {
  font-size: 3rem;
  color: #fff;
  text-shadow: 10px 10px 18px rgb(12, 11, 12);
  animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1.8rem;
  text-align: center;
  text-shadow: 4px 4px 6px rgb(233, 223, 233)33)65);
  animation: blink 1s infinite;
}

.btn-wsp {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el fondo */
  right: 50px; /* Ajusta la distancia desde el lado derecho */
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 990;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none; /* Quita el subrayado del enlace */
}

.btn-wsp i {
  color: #fff;
  font-size: 24px; /* Tamaño del ícono de WhatsApp */
}

.btn-wsp:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.radio-player-container {
  flex-direction: column; /* Apila los elementos en pantallas pequeñas */
  width: 100%;
  position: relative;

  min-height: 100px; /* O cualquier valor que consideres adecuado */
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #90cbdb, #8e93d6, #2831a7, #072d6b);
  background-size: 300% 100%;
  animation: soundWave 5s infinite linear;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: center; /* Asegura que los elementos estén distribuidos en el contenedor */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  overflow: hidden; /* Evita cualquier desbordamiento */
  z-index: 3;
}
/* Animación de movimiento de fondo */
@keyframes soundWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.radio-player {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos verticalmente en el centro */
  background-color: #1d0c49;
  border-radius: 10px;
  padding: 10px 10px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  overflow: visible;
  position: relative; /* o absolute si es necesario */
  z-index: 2; /* Aumenta el valor si es necesario */
}

.light {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  animation: glow 1s infinite alternate;
  margin-bottom: 10px;
}

.light::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 12px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px red;
  }
  100% {
    box-shadow: none;
  }
}

.radio-controls {
  display: flex;
  align-items: center;
  width: 100%;
}

.control-btn {
  background: none;
  border: none;
  color: #131111;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.timer {
  color: #ece3e3;
  font-family: monospace;
  margin-right: 20px;
  flex: 1;
}

.volume-slider {
  width: 100px;
  cursor: pointer;
}

#volumeIcon {
  margin-left: 10px;
  color: grey;
}

/* Ajuste para la posición del formulario de suscripción */

.subscription-container {
  position: relative;
  display: flex; /* Añadido para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  margin-top: 0;
  margin-bottom: 80px;
  flex-direction: column;
  width: 90%; /* Ancho reducido para darle un margen en pantallas grandes */
  max-width: 100%; /* Máximo ancho para el contenedor */
  background-color: #8e7d7d;
  padding: 30px; /* Aumentado padding */
  border-radius: 10px;
  text-align: center;
  color: rgb(29, 28, 28);
  box-sizing: border-box;
  overflow: hidden;
  margin-left: auto; /* Margen automático para centrar */
  margin-right: auto; /* Margen automático para centrar */
}

#subscription-form {
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#subscription-form label {
  font-weight: bold;
}

#subscription-form input {
  width: calc(100% - 20px); /* Ajusta el ancho para dejar margen a los lados */
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#subscription-form button {
  width: calc(
    100% - 20px
  ); /* Asegura que el botón se alinee bien con los campos de entrada */
  padding: 15px;
  background-color: #484a4b;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#subscription-form button:hover {
  background-color: #9e8493;
}

.contact-form {
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  overflow: hidden; /* Evita cualquier desbordamiento */
  margin-bottom: 0px;
  font-size: 24px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c4bbc1;
  border-radius: 5px;
  font-size: 16px;
}

.input-group textarea {
  resize: none;
}

button:hover {
  background-color: #222324;
}
/* Estilo específico para esta sección */

h3 {
  color: rgb(175, 156, 156);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 4px 4px 6px rgb(240, 238, 240);
}
.gallery-container {
  width: 100vw;
  height: 60vh; /* Mantiene el 80% de la altura de la pantalla */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 20px;
  position: relative;
  background: linear-gradient(135deg, #a8e6cf 0%, #d4f7c5 55%, #8bc34a 100%);
  background-size: 100% 100%;
  animation: soundWave 5s infinite linear;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-between; /* Asegura que los elementos estén distribuidos en el contenedor */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  overflow: hidden; /* Evita cualquier desbordamiento */
}
/* Animación de movimiento de fondo */
@keyframes soundWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gallery {
  display: flex;
  width: 100%; /* Ajusta para que todas las imágenes se mantengan en el mismo lugar */
  position: relative;
}

.gallery img {
  width: 18%; /* Ajusta para que todas las imágenes ocupen un tercio del ancho */
  object-fit: cover;
  border: 5px solid #ccc;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.2; /* Inicialmente ocultas */
  animation: blink 4s infinite; /* Cambia la duración según lo necesites */
}

@keyframes fade {
  0%,
  20% {
    visibility: visible; /* Visible al inicio */
  }
  25%,
  95% {
    visibility: hidden; /* Desaparece gradualmente */
  }
}

.link-container {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: 0;
  background-image: url("./img/radiomia.jpeg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Para que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 100vh; /* Altura de la vista completa */

  max-width: 100%;
  padding: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.link-cube-container {
  width: 200px; /* Tamaño del cubo */
  height: 200px;
  position: relative;
  perspective: 1000px; /* Añade perspectiva para el efecto 3D */
}

.link-cube {
  width: 100%;
  height: 100%;
  cursor: pointer; /* Hace que el cursor se transforme en una mano */
  position: absolute;
  transform-style: preserve-3d;
  animation: rotate 15s infinite linear; /* Animación de rotación */
}

.face {
  position: absolute;
  width: 200px; /* Tamaño de cada cara igual al tamaño del cubo */
  height: 200px;
  background: #ffffff;
  box-sizing: border-box;
}

.face img {
  width: 100%; /* Asegura que las imágenes ocupen toda la cara */
  height: 100%;
  object-fit: cover;
}

.face.front {
  transform: translateZ(100px);
}
.face.back {
  transform: rotateY(180deg) translateZ(100px);
}
.face.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.face.right {
  transform: rotateY(90deg) translateZ(100px);
}
.face.top {
  transform: rotateX(90deg) translateZ(100px);
}
.face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* Animación de parpadeo */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  position: fixed;
  left: 0;
  background-color: #413d3d;
  color: #fff;
  z-index: 10;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2px 0;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centrar contenido verticalmente */
  justify-content: flex-between;
  position: relative;
  width: 100%;
  padding: 2px;
  flex-wrap: wrap;
  gap: 2px;
}

footer a {
  color: #f1f0f5;
  text-shadow: 1px 1px 2px purple;
  text-decoration: none;
  margin: 0 3px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: purple;
}

/* Animación blink */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Iconos sociales */
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  margin-right: 5px; /* Espacio entre las redes sociales y el Linktree */
}

.social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #e2dddd;
  color: #413d3d;
  font-size: 14px;
  text-align: center;
  margin: 2px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons a img {
  width: 20px; /* Tamaño estándar para los íconos */
  height: 20px;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  border-radius: 50%; /* Para íconos redondos */
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

/* Estilo del botón de Linktree */
.linktree-container a img {
  width: 20px;
  height: 20px;
}
.linktree-button {
  display: inline-block;
  width: 20px; /* Ancho igual al de los iconos sociales */
  height: 20px; /* Altura igual al de los iconos sociales */
  border-radius: 50%;
  overflow: hidden; /* Asegura que la imagen no sobresalga del botón */
  margin: 2px;
  transition: transform 0.3s;
}

.linktree-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

/* Copyright */
.copyright {
  margin-top: 5px;
  font-size: 10px;
  color: #f1f0f5;
}

.copyright a {
  color: #f1f0f5;
  text-shadow: 1px 1px 2px purple;
  text-decoration: none;
  transition: color 0.3s ease;
}

.copyright a:hover {
  color: purple;
}
/* Media queries para pantallas móviles */
@media only screen and (max-width: 768px) {
  body {
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina rellenos por defecto */
    font-size: 6px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra los elementos verticalmente */
    height: auto; /* Ajusta la altura del header */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    padding: 10px 15px;
    box-sizing: border-box;
    position: relative;
    margin: 0; /* Elimina margen inferior */
  }

  .header-content {
    flex-direction: column;
    padding: 5px;
  }

  .navbar {
    display: flex;
    justify-content: space-around; /* Asegura que el menú se distribuya */
    align-items: center;
    width: 100%;
  }

  .header nav ul {
    display: flex;
    flex-direction: row; /* Asegura que los enlaces estén en una fila */
  }
  .header nav a {
    font-size: 12px; /* Reduce el tamaño de las palabras */
    margin: 0 8px; /* Reduce el espaciado entre las palabras */
  }
  .header nav ul li a {
    margin-right: 0px;
    margin-bottom: 0px; /* Añade espacio entre los enlaces en el menú */
  }

  .dropdown-menu {
    position: static; /* Asegura que el menú se expanda en su lugar en pantallas pequeñas */
    width: 100%; /* El menú ocupará el 100% del ancho de la pantalla */
    max-height: none; /* Permite que el menú se expanda completamente en altura */
    box-shadow: none; /* Elimina la sombra para un diseño más limpio */
    border-radius: 0; /* Elimina bordes redondeados en pantallas pequeñas */
    transform: none;
    list-style: none;
  }

  .dropdown-menu a {
    padding: 8px 15px;
    text-decoration: none; /* Aumenta el área clicable en pantallas pequeñas */
  }

  .dropdown-menu.active {
    display: flex !important; /* Asegura que el menú se muestre correctamente al activarse */
  }

  .radio-intro {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 10px; /* Añade espacio alrededor */
  }

  .radio-intro div {
    text-align: center; /* Alinea el texto al centro */
  }

  radio-intro p {
    font-size: 6px; /* Ajusta el tamaño del texto en función del ancho de la pantalla */
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }
  .footer-content p {
    margin: 5px 0;
    font-size: 6px; /* Tamaño de la fuente */
  }

  p {
    font-size: 12px;
    overflow: hidden;
    text-align: center;
  }

  .menu-fixed {
    justify-content: center; /* Centra el menú en móviles */
    flex-direction: column; /* Alinea los elementos del menú en columna */
  }

  .menu-fixed ul {
    flex-direction: column; /* Cambia los elementos del menú a columna */
    gap: 6px; /* Ajusta el espacio entre elementos */
    margin-right: 0;
  }

  .menu-fixed ul li a {
    font-size: 10px; /* Ajusta el tamaño del texto del menú */
  }

  .menu-hamburguesa {
    position: relative;
    left: -100px; /* Ajusta este valor para que esté visible */
    bottom: 100px; /* Aumenta este valor para moverlo hacia abajo */
    /* Asegúrate de que esté por encima de otros elementos */
  }

  /* WhatsApp Button */
  .btn-wsp {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }

  .btn-wsp i {
    font-size: 20px;
  }

  /* Ajuste para iconos sociales */
  .social-icons {
    justify-content: center;
    gap: 10px;
  }
  h2 {
    font-size: 0.8rem;
  }
  /* Título ajustado para móviles */
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .youtube-section,
  .news-section {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* Ajuste de la galería en dispositivos móviles */
  .gallery-container {
    height: 25vh;
    padding: 10px;
  }

  .gallery {
    width: 100%; /* Mostrar una imagen a la vez */
    animation: blink 4s infinite; /* Cambia la duración según lo necesites */

    @keyframes fade {
      0%,
      20% {
        visibility: visible; /* Visible al inicio */
      }
      25%,
      95% {
        visibility: hidden; /* Desaparece gradualmente */
      }
    }

    .gallery img {
      width: 50%; /* Ocupa todo el ancho en móvil */
      margin: 0;
    }

    /* Footer en Dispositivos Móviles */
    footer {
      padding: 5px 0;
      text-align: center;
    }

    /* Ajuste del Contenedor del Footer */
    .footer-container {
      width: 100%;
      justify-content: center;
      padding: 3px;
      gap: 5px;
    }

    .footer-container p {
      margin-top: auto; /* Reducir margen en móvil */
    }

    /* Enlaces del Footer */
    footer a {
      margin: 0 5px;
    }

    /* Iconos Sociales */
    .social-icons {
      margin-right: 0;
    }
    .social-icons a {
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      margin: 3px;
    }
    .social-container {

    }
    .linktree-button {
      width: 10px;
      height: 10px;
    }
  }


    .carousel img {

      max-height: 300px; /* Ajusta la altura máxima según sea necesario */

    }
    .carousel .caption {
      font-size: 8px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
      padding: 5px; /* Ajusta el padding si es necesario */
    }
  }

